@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

:root {
  --background-color: #f1f5f4;
  --default-color: #212529;
  --heading-color: #2d465e;
  --accent-color: #d8b740;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;

  /* Bootstrap / CoreUI overrides */
  --cui-primary: #d8b740;
  --cui-primary-rgb: 216, 183, 64;

  --bs-primary: #d8b740;
  --bs-primary-rgb: 216, 183, 64;

  --bs-body-bg: var(--background-color);
  --bs-body-color: var(--default-color);
}


body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

.btn-primary {
  background-color: #d8b740;
  border-color: #d8b740;
}
.btn-primary:hover {
  background-color: #c9ab3e;
  border-color: #c9ab3e;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.25rem rgba(#d8b740, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  background-color: #d8b740;
  border-color: #d8b740;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #c9ab3e;
  border-color: #c9ab3e;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(#d8b740, 0.5);
}

.btn-danger{
  color: #f1f5f4;
}

.btn-danger:hover {
 color: #f1f5f4;
}